{% extends "base.html" %}

{% block title %}Startseite{% endblock %}
{% block content %}


    <br>
    <br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Flug suchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/buchung_suchen">Buchungen suchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/flugstatus-überprüfen">Flugstatus</a>
        </li>
     <li class="nav-item">
            <a class="nav-link" href="/fluglinien-anzeigen">Fluglinien</a>
        </li>
    </ul>


    <div class="card" style="width: 68rem;">
        <div class="card-body">
            <div class="container" style="width: 60rem; height: 10rem">
                <form action="#" method="GET">
                    <div class="form-row">
                        <div class="col">
                            <label for="Von">Von:</label>
                            <select id="von" name="von" class="form-control" required>
                                <option selected>auswählen...</option>
                                {% for rows in flughafen_liste %}
                                <option> {{ rows.stadt }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="Nach">Nach:</label>
                            <select id="nach" name="nach" class="form-control" required>
                                <option selected>auswählen...</option>
                                {% for rows in flughafen_liste %}
                                <option> {{ rows.stadt }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <label for="Abflugdatum">Abflugdatum:</label>
                            <input type="date" class="form-control" id="Abflugdatum" name="Abflugdatum"
                                   placeholder="" required>
                        </div>
                        <div class="col">
                            <label for="AnzahlPersonen">Passagiere:</label>
                            <select  id="AnzahlPersonen" class="form-control"name="AnzahlPersonen"
                                   style="width: 4rem" required>
                                <option selected> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                            </select>

                        </div>
                        <div class="col-auto my-4">
                            <button type="submit" value="submit" class="btn btn-primary" style="height: 3rem">Flüge
                                finden
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <br>
    {% if fluege %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Linie</th>
                <th scope="col">Von</th>
                <th scope="col">Nach</th>
                <th scope="col">Datum</th>
                <th scope="col">Abflug</th>
                <th scope="col">Ankunft</th>
                <th scope="col">Preis</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for rows in fluege %}
                <tr>
                <td>
                        {{ rows.flugnummer }}
                    </td>
                    <td>
                        {{ kuerzel_von.kennung }}
                    </td>
                    <td>
                        {{ kuerzel_nach.kennung }}
                    </td>
                    <td>
                        {{ rows.sollabflugzeit.strftime("%d.%m.%Y") }}
                    </td>
                    <td>
                        {{ rows.sollabflugzeit.strftime("%H:%M") }}
                    </td>
                    <td>

                        {{ rows.sollankunftszeit.strftime("%H:%M") }}
                    </td>
                    <td>
                        {{ rows.preis }}€
                    </td>
                    <td>
                        <a href="{{ url_for('views.flug_buchen', id=rows.flugid, anzahlPassagiere=passagiere)}}"
                                               class="btn btn-info">Buchen</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% endif %}
{% endblock %}