{% extends "base.html" %}

{% block title %}Startseite{% endblock %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <br>
    <br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Flug suchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/buchung_suchen">Buchungen suchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/flugstatus-überprüfen">Flugstatus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/fluglinien-anzeigen">Fluglinien</a>
        </li>
    </ul>
    <div class="card" style="width: auto">
        <div class="card-body">
            <div class="container-fluid" style="width: auto; height: auto">
                <form action="#" method="GET">
                    <div class="form-row">
                        <div class="col">
                            <label for="Von">Flugnummer:</label>
                            <input type="text" id="flugnummer" name="flugnummer" class="form-control"
                                   style="width: auto"
                                   value="{{ request.args.get('flugnummer', 'PM1') }}" pattern="[A-Z0-9]+" required>

                        </div>

                        <div class="col">
                            <label for="abflugdatum">Abflugdatum:</label>
                            <input type="date" class="form-control" id="abflugdatum" name="abflugdatum"
                                    style="width: auto" min="1799-01-02" max="3000-12-31" value="{{ request.args.get('abflugdatum', today) }}"
                                   required>
                        </div>
                        <p id="result"></p>

                        <div class="col">
                            <div class="col-auto my-4">
                                <button type="submit"
                                        value="submit" class="btn btn-primary" style="height: auto">Flüge
                                    finden
                                </button>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <br>

    {% if fluege %}
        <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Linie</th>
                <th scope="col">Von</th>
                <th scope="col">Nach</th>
                <th scope="col">Abflug (Soll)</th>
                <th scope="col">Ankunft (Soll)</th>
                <th scope="col">Abflug (Ist)</th>
                <th scope="col">Ankunft (Ist)</th>
                <th scope="col">Flugstatus</th>

            </tr>
            </thead>
            <tbody>
            {% for rows in fluege %}
                <tr>
                    <td>
                        {{ rows.flugnummer }}
                    </td>
                    <td>
                        {% for e in flughafen_liste %}
                            {% if e.flughafenid == rows.abflugid %}
                                {{ e.kennung }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for e in flughafen_liste %}
                            {% if e.flughafenid == rows.zielid %}
                                {{ e.kennung }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ rows.sollabflugzeit.strftime("%H:%M") }}
                    </td>
                    <td>
                        {{ rows.sollankunftszeit.strftime("%H:%M") }}
                    </td>
                    <td>
                        {{ rows.istabflugzeit.strftime("%H:%M") }}
                    </td>
                    <td>

                        {{ rows.istankunftszeit.strftime("%H:%M") }}
                    </td>
                    <td>
                        {{ rows.flugstatus }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
        </div>
    {% endif %}
{% endblock %}