{% extends "base.html" %}

{% block title %}Startseite{% endblock %}
{% block content %}

    <!--meta line makes it responsive, has to be added at the beginning at each file -->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <br>
    <br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Flug suchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/buchung_suchen">Buchungen suchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/flugstatus-überprüfen">Flugstatus</a>
        </li>
     <li class="nav-item">
            <a class="nav-link" href="/fluglinien-anzeigen">Fluglinien</a>
        </li>
    </ul>


    <div class="card" style="width: auto; height:auto">
    <!--PROBLEM: no responsive utilities by Bootstrap for card yet-->
        <div class="card-body">
            <div class="container" style="width: auto; height:auto">
                <form action="{{ url_for('nutzer_ohne_account_views.home') }}" method="GET">
                    <div class="form-row">
                    <!--making tables responsive: instead of "col", write "col-sm"-->
                        <div class="col-auto">
                            <label for="Von">Von:</label>
                            <select id="von" name="von" class="form-control" required>
                                <option selected>{{ request.args.get('von', default_flughafen_von) }}  </option>
                                {% for rows in flughafen_liste %}
                                <option> {{ rows.stadt }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label for="Nach">Nach:</label>
                            <select id="nach" name="nach" class="form-control" required>
                                <option selected>{{ request.args.get('nach', default_flughafen_nach) }}</option>
                                {% for rows in flughafen_liste %}
                                <option> {{ rows.stadt }} </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-auto">
                            <label for="Abflugdatum">Abflugdatum:</label>
                            <input type="date" class="form-control" id="Abflugdatum" name="Abflugdatum"
                                   min="1899-01-02" max="3000-12-31" style="height:auto; width:auto"
                                   value="{{ request.args.get('Abflugdatum', tomorrow) }}" required>
                        </div>
                        <div class="col-auto">
                            <label for="AnzahlPersonen">Passagiere:</label>
                            <select  id="AnzahlPersonen" class="form-control"name="AnzahlPersonen"
                                   style="width: auto" required>
                                <option selected> {{ request.args.get('AnzahlPersonen', 1) }}</option>
                                <option> 1 </option>
                                <option> 2 </option>
                                <option> 3 </option>
                                <option> 4 </option>
                                <option> 5 </option>
                                <option> 6 </option>
                            </select>

                        </div>
                        <div class="col-auto my-4">
                            <button type="submit" value="submit" class="btn btn-primary" style="height: 3rem">Flüge
                                finden
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <br>
    {% if buchbare_fluege %}
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Linie</th>
                <th scope="col">Abflug</th>
                <th scope="col">Ankunft</th>
                <th scope="col">Preis</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for rows in buchbare_fluege %}
                <tr>
                <td>
                        {{ rows.flugnummer }}
                    </td>

                    <td>
                        {{ rows.sollabflugzeit.strftime("%H:%M") }}
                    </td>
                    <td>

                        {{ rows.sollankunftszeit.strftime("%H:%M") }}
                    </td>
                    <td>
                        {{ rows.preis }}€
                    </td>
                    <td>
                        <a href="{{ url_for('passagier_views.flug_buchen', id=rows.flugid, anzahlPassagiere=passagiere)}}"
                                               class="btn btn-info">Buchen</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    {% endif %}
{% endblock %}