{% extends "base.html" %} {% block title %}Registrieren{% endblock %} {% block
content %}

     <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <form method="POST">
        <br>
        <h3 align="center">Registrieren</h3>
        <div class="form-group">
            <label for="Vorname">Vorname*:</label>
            <input
                    type="text"
                    class="form-control"
                    id="vorname"
                    name="vorname"
                    placeholder=""
                    pattern="[a-zA-Z]+"
                    required
            />
        </div>
        <div class="form-group">
            <label for="Nachname">Nachname*:</label>
            <input
                    type="text"
                    class="form-control"
                    id="nachname"
                    name="nachname"
                    placeholder=""
                    pattern="[a-zA-Z]+"
                    required
            />
        </div>
        <div class="form-group">
            <label for="emailadresse">Email Adresse*:</label>
            <input
                    type="email"
                    class="form-control"
                    id="emailadresse"
                    name="emailadresse"
                    placeholder=""
                    required
            />
        </div>
        <div class="form-group">
            <label for="passwort1">Passwort*:</label>
            <input
                    type="password"
                    class="form-control"
                    id="passwort1"
                    name="passwort1"
                    placeholder=""
                    required
            />
        </div>
        <div class="form-group">
            <label for="passwort2">Passwort bestätigen*:</label>
            <input
                    type="password"
                    class="form-control"
                    id="passwort2"
                    name="passwort2"
                    placeholder=""
                    required
            />
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Jetzt registrieren</button>
    </form>
       <div class="password-requirements">
       <br>
    <p>Passwortmindestanforderungen:</p>
    <ul>
        <li>enthält mindestens 8 Zeichen</li>
        <li>enthält mindestens eine Zahl</li>
        <li>enthält mindestens ein Sonderzeichen</li>
    </ul>
</div>

{% endblock %}



