{% extends "base.html" %} {% block title %}Registrieren{% endblock %} {% block
content %}


    <form method="POST">
        <br>
        <h3 align="center">Registrieren</h3>
        <div class="form-group">
            <label for="Vorname">Vorname*:</label>
            <input
                    type="text"
                    class="form-control"
                    id="vorname"
                    name="vorname"
                    placeholder=""
                    required
            />
        </div>
        <div class="form-group">
            <label for="Nachname">Nachname*:</label>
            <input
                    type="text"
                    class="form-control"
                    id="nachname"
                    name="nachname"
                    placeholder=""
                    required
            />
        </div>
        <div class="form-group">
            <label for="emailadresse">Email Adresse*:</label>
            <input
                    type="email"
                    class="form-control"
                    id="emailadresse"
                    name="emailadresse"
                    placeholder=""
                    required
            />
        </div>
        <div class="form-group">
            <label for="passwort1">Passwort*:</label>
            <input
                    type="password"
                    class="form-control"
                    id="passwort1"
                    name="passwort1"
                    placeholder=""
                    required
            />
        </div>
        <div class="form-group">
            <label for="passwort2">Passwort bestätigen*:</label>
            <input
                    type="password"
                    class="form-control"
                    id="passwort2"
                    name="passwort2"
                    placeholder=""
                    required
            />
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Jetzt registrieren</button>
    </form>
        <br>
    <b>Passwortmindestanforderungen:</b>
    <br>
    - enthält mindestens 8 Zeichen
    <br>
    - enthält mindestens eine Zahl
    <br>
    - enthält mindestens ein Sonderzeichen
<br>
{% endblock %}



