{% extends "base.html" %}
{% block title %}Accounts bearbeiten{% endblock %}
{% block content %}
    <br>
    <br>

    <!-- upper nav bar with links to VP functions -->

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home-vp">Flugzeuge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/flug-anlegen">Flüge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Log</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reporting">Reporting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Accounts</a>
        </li>
    </ul>

    <!-- bigger box around form  -->

    <div class="card" style="width: 68rem; height: 35rem">
        <div class="card-body">

            <!-- smaller nav bar for anlegen und bearbeiten -->

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/accounts-anlegen">Anlegen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Bearbeiten</a>
                </li>
            </ul>
            <!-- smaller box around table  -->

            <div class="card" style="width: 60rem;height: 30rem">
                <div class="card-body">
                    <div class="container" style="width: 55rem; height: 30rem">
                    <div class="col-12 col-md-8" align="right">
                            <form action="" method="post" autocomplete="on">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="tag" id="tag"
                                               placeholder="Nachname"/>
                                    </div>
                                    <div class="col-3">
                                        <input type="submit" value="Suchen" class="form-control btn btn-primary "
                                               name="">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br>

                        <!-- table data -->
                    {% if accounts %}

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Vorname</th>
                                <th scope="col">Nachname</th>
                                <th scope="col">E-Mail Adresse</th>
                                <th scope="col">Rolle</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for rows in accounts %}
                                <tr>
                                    <td>
                                        {{ rows.vorname }}
                                    </td>
                                    <td>
                                        {{ rows.nachname }}
                                    </td>
                                    <td>
                                        {{ rows.emailadresse }}
                                    </td>
                                    <td>
                                        {{ rows.rolle }}
                                    </td>

                                    <!-- button die zu der funktion referenzieren -->

                                    <td>
                                        <a href="/accounts_ändern/{{ rows.id }}"
                                           data-toggle="modal" data-target="#updateModal{{ rows.id }}"
                                           class="btn btn-warning">Bearbeiten</a>


                                        <a href="{{ url_for('verwaltungspersonal_views.accounts_loeschen', id=rows.id) }}"
                                           class="btn btn-danger">Löschen</a>
                                    </td>
                                </tr>


                                <!-- pop up window for data update -->


                                <div id="updateModal{{ rows.id }}" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form method="POST" action="{{ url_for('verwaltungspersonal_views.accounts_ändern') }}">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Account bearbeiten</h4>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true">
                                                        &times;
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="Vorname">Vorname:</label>
                                                        <input type="hidden" name="id" value="{{ rows.id }}">
                                                        <input type="text" class="form-control" id="vorname"
                                                               name="vorname"
                                                               value="{{ rows.vorname }}" pattern="[a-zA-Z]+" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Nachname">Nachname:</label>
                                                        <input type="text" class="form-control" id="nachname"
                                                               name="nachname"
                                                               value="{{ rows.nachname }}" pattern="[a-zA-Z]+" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="emailadresse">E-mail Adresse:</label>
                                                        <input type="email" class="form-control" id="emailadresse"
                                                               name="emailadresse"
                                                               value="{{ rows.emailadresse }}" required>
                                                    </div>
                                                <!-- If statement bestimmt welche option als erste angezeigt wird -->
                                                    <div class="form-group">
                                                        <label for="Rolle">Rolle</label>
                                                        <select class="form-control" id="rolle" name="rolle"
                                                                value="{{ rows.rolle }}" required>
                                                            {% if rows.rolle == "Verwaltungspersonal" %}
                                                                <option>Verwaltungspersonal</option>
                                                                <option>Bodenpersonal</option>
                                                            {% else %}
                                                                <option>Bodenpersonal</option>
                                                                <option>Verwaltungspersonal</option>
                                                            {% endif %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <input type="button" class="btn btn-default" data-dismiss="modal"
                                                           value="Abbrechen">
                                                    <input type="submit" class="btn btn-info" value="Speichern">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>

                        </table>
                    <!-- Pagination bar -->

                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if accounts.has_prev %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{{ url_for('verwaltungspersonal_views.accounts_bearbeiten', page=accounts.prev_num) }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for page in accounts.iter_pages(left_edge=3, right_edge=3) %}
                                        {% if page %}

                                            {% if page==accounts.page %}
                                                <li class="page-item active"><a class="page-link"
                                                                                href="{{ url_for('verwaltungspersonal_views.accounts_bearbeiten', page=page) }}">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="{{ url_for('verwaltungspersonal_views.accounts_bearbeiten', page=page) }}">{{ page }}</a>
                                                </li>
                                            {% endif %}

                                        {% else %}
                                            <li class="page-item disabled" id="example_ellipsis"><a href="#"
                                                                                                    class="page-link">…</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if accounts.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{{ url_for('verwaltungspersonal_views.accounts_bearbeiten', page=accounts.next_num) }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                                    {% endif %}

                                </ul>
                            </nav>
                        {% endif %}


                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}