{% extends "base.html" %}
{% block title %}Buchung{% endblock %}
{% block content %}
    <br>
    <br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Flugzeuge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/flug-anlegen">Flüge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Log</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reporting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/accounts-anlegen">Accounts</a>
        </li>
    </ul>


    <div class="card" style="width: 68rem; height: 35rem">
        <div class="card-body">

            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/home-vp">Anlegen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Bearbeiten</a>
                </li>
            </ul>

            <!-- Suchfeld  -->

            <div class="card" style="width: 60rem;height: 30rem">
                <div class="card-body">
                    <div class="container" style="width: 55rem; height: 30rem">
                        <div class="col-12 col-md-8" align="right">
                            <form action="" method="post" autocomplete="on">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="tag" id="tag"
                                               placeholder="Hersteller"/>
                                    </div>
                                    <div class="col-3">
                                        <input type="submit" value="Suchen" class="form-control btn btn-primary "
                                               name="">
                                    </div>
                                </div>
                            </form>
                        </div>

                        <br>


                        {% if flugzeuge %}
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Hersteller</th>
                                    <th scope="col">Modell</th>
                                    <th scope="col">Sitzplatzanzahl</th>
                                    <th scope="col">Status</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for rows in flugzeuge %}
                                    <tr>
                                        <td>
                                            {{ rows.flugzeugid }}
                                        </td>
                                        <td>
                                            {{ rows.hersteller }}
                                        </td>
                                        <td>
                                            {{ rows.modell }}
                                        </td>
                                        <td>
                                            {{ rows.anzahlsitzplaetze }}
                                        </td>
                                        <td>
                                            {{ rows.status }}
                                        </td>

                                        <td>
                                            <a href="{{ url_for('verwaltungspersonal_views.flugzeug_ändern', id=rows.flugzeugid) }}"
                                               data-toggle="modal" data-target="#updateModal{{ rows.flugzeugid }}"
                                               class="btn btn-warning">Bearbeiten</a>


                                            <a href="{{ url_for('verwaltungspersonal_views.flugzeug_inaktiv_setzen', id=rows.flugzeugid) }}"
                                               class="btn btn-danger">Löschen</a>
                                        </td>

                                    </tr>

                                    <!-- Pop Up Modal zum bearbeiten von flugzeugen -->

                                    <div id="updateModal{{ rows.flugzeugid }}" class="modal fade bd-example-modal-lg">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <form method="POST" action="{{ url_for('verwaltungspersonal_views.flugzeug_ändern') }}">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Flugzeug bearbeiten</h4>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">
                                                            &times;
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="form-row">
                                                            <div class="col">
                                                                <label for="Modell">Modell:</label>
                                                                 <input type="hidden" name="id" value="{{ rows.flugzeugid }}">
                                                                <input type="text" class="form-control" id="modell"
                                                                       name="modell" value="{{ rows.modell }}" pattern="[A-Z0-9]+"
                                                                       required>
                                                            </div>
                                                            <div class="col">
                                                                <label for="Hersteller">Hersteller:</label>
                                                                <input type="text" class="form-control" id="hersteller"
                                                                       name="hersteller"
                                                                       value="{{ rows.hersteller }}" pattern="[a-zA-Z]+" required>
                                                            </div>
                                                            <div class="col">
                                                                <label for="Anzahl Sitzplätze">Anzahl der
                                                                    Sitzplätze:</label>
                                                                <input type="number" class="form-control"
                                                                       id="anzahlsitzplaetze"
                                                                       name="anzahlsitzplaetze"
                                                                       value="{{ rows.anzahlsitzplaetze }}" required>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <input type="button" class="btn btn-default"
                                                                   data-dismiss="modal"
                                                                   value="Abbrechen">
                                                            <input type="submit" class="btn btn-info" value="Speichern">
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </tbody>

                            </table>

                            <!-- Pagination bar -->

                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    {% if flugzeuge.has_prev %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{{ url_for('verwaltungspersonal_views.flugzeug_bearbeiten', page=flugzeuge.prev_num) }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% for page in flugzeuge.iter_pages(left_edge=3, right_edge=3) %}
                                        {% if page %}

                                            {% if page==flugzeuge.page %}
                                                <li class="page-item active"><a class="page-link"
                                                                                href="{{ url_for('verwaltungspersonal_views.flugzeug_bearbeiten', page=page) }}">{{ page }}</a>
                                                </li>
                                            {% else %}
                                                <li class="page-item"><a class="page-link"
                                                                         href="{{ url_for('verwaltungspersonal_views.flugzeug_bearbeiten', page=page) }}">{{ page }}</a>
                                                </li>
                                            {% endif %}

                                        {% else %}
                                            <li class="page-item disabled" id="example_ellipsis"><a href="#"
                                                                                                    class="page-link">…</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if flugzeuge.has_next %}
                                        <li class="page-item"><a class="page-link"
                                                                 href="{{ url_for('verwaltungspersonal_views.flugzeug_bearbeiten', page=flugzeuge.next_num) }}">Next</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                                    {% endif %}

                                </ul>
                            </nav>
                        {% endif %}


                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}