{% extends "base.html" %}

{% block title %}Home für Verwaltungspersonal{% endblock %}
{% block content %}

   <body>
<br>

      <h3>Reporting</h3>
      <br>
       <p>Gesamtumsatz: <b>{{ gesamtumsatz }}€</b></p>
<p>Gesamtanzahl Passagiere: <b>{{ gesamt_passagiere }}</b></p>

<p>Gesamtauslastung: <b>{{ gesamt_auslastung }}</b></p>
      <img src="data:image/png;base64, {{ image }}" alt="Pie Chart" style="max-width:100%;height:auto;">
   <p><a href = "{{url_for('verwaltungspersonal_views.reporting') }}">Zurück</a></p>


   </body>
{% endblock %}