{% extends "base.html" %} {% block title %}Anmelden{% endblock %}


{% block content%}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

<form method="POST">
  <br>
  <h3 align="center">Anmelden</h3>
  <div class="form-group">
    <label for="emailadresse">Email Adresse*:</label>
    <input
      type="text"
      id="emailadresse"
      name="emailadresse"
      class="form-control"
      placeholder=""
      required
    />
    <br>
    <label for="passwort">Passwort*:</label>
    <input
      type="password"
      id="passwort"
      name="passwort"
      class="form-control"
      placeholder=""
      required
    />
    <a href="#" data-toggle="modal" data-target="#passwordRecoveryModal">Passwort vergessen?</a>



    <br />
    <br>

    <div align="center">
      <button class="btn btn-primary" type="submit">Anmelden</button>
    </div>
  </div>
</form>
<br>
<br>
<br>
<p>Sie sind noch nicht registriert?</p>
<p><a href = "{{url_for('nutzer_ohne_account_views.registrieren') }}">Zum Registrieren hier klicken</a></p>

{% include 'Nutzer_mit_account/passwort_vergessen.html' %}
{% endblock %}

