{% extends "base.html" %}

{% block title %}Buchung suchen{% endblock %}
{% block content %}
    <br>
    <br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Flug suchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/buchung_suchen">Buchungen suchen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/flugstatus-überprüfen">Flugstatus</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/fluglinien-anzeigen">Fluglinien</a>
        </li>
    </ul>

    <div class="input-group mb-3">
        <form action="#" method="GET">
            <table>

                <td>
                    <div class="col">
                            <label for="buchungsnummer">Buchungsnummer</label>
                            <input type="text" class="form-control input-lg" id="buchungsnummer" name="buchungsnummer"
                               placeholder=""
                               aria-label="buchungsnummer" aria-describedby="basic-addon2">
                    </div>
                </td>
                <td>
                    <br>
                    <div class="col">
                        <button
                                type="submit" class="btn btn-primary" id="inputGroup-sizing-lg" style="height: 3rem">
                            Buchung suchen
                        </button>
                    </div>
                </td> <!-- td damit es nebeneinandersteht-->
            </table>
        </form>
    </div>

    <table class="table">

        <thead>
        <tr>
            <th scope="col">Buchungsnummer</th>
            <th scope="col">Buchungsstatus</th>
            <th scope="col">Von</th>
            <th scope="col">Nach</th>
            <th scope="col">Datum</th>
            <th scope="col">Passagier</th>
            <th scope="col">Gepaeckstatus</th>
        </tr>
        </thead>
        {% for rows in buchung %}
            <tr>
                <td>{{ rows.buchungsnummer }}</td>
                <td>{{ rows.buchungsstatus }}</td>
                {% for ankunft in ankunft_flughafen %}
                    <td>{{ ankunft.kennung }}</td>
                {% endfor %}
                {% for ziel in ziel_flughafen %}
                    <td>{{ ziel.kennung }}</td>
                {% endfor %}
                {% for flug_row in flug %}
                    <td>{{ flug_row.sollabflugzeit }}</td>
                {% endfor %}
            </tr>
            {% for passagier_row in passagier %}
                <tr aria-rowspan="0"></tr>
                <tr>
                    <td colspan="5"></td>
                    <td>
                        {{ passagier_row.vorname }}
                        {{ passagier_row.nachname }}
                        <br>
                        difference = flug[0].sollabflugzeit - now
                        {% if now < flug[0].sollabflugzeit %}
                        <a href="{{ url_for('passagier_views.online_check_in', buchungsnummer=rows.buchungsnummer, vorname=passagier_row.vorname, nachname=passagier_row.nachname) }}"
                                               class="btn btn-primary">Online Check In</a>
                        {% endif %}
                        <a href='/storno'>
                            <button class="btn btn-danger">Storno</button>
                        </a>
                    </td>
                    </td>
                </tr>
            {% endfor %}
            {% for nutzer in nutzer %}
                <tr>
                    <br>
                    {{ nutzer_row.emailadresse }}
                    <br>
                </tr>
            {% endfor %}
            <!--siehe flugzeug bearbeiten mit übergabe info route bei button-->
            </td>
        {% endfor %}

    </table>
{% endblock %}