


    <h2>Buchungsbestätigung <p style="color: cornflowerblue;"><i>AirPassau</i></p></h2>
<p>Sehr geehrter Herr {{ user.nachname }},</p>
<p>hiermit bestäigen wir Ihnen die Buchung für den folgenden Flug:</p>

<p>
Rechnungsnummer : {{ rechnungsnummer }} <br>
Buchungsnummer: {{ buchungsnummer }} <br>

<b>Passagiere:</b> <br>

    {% for rows in passagiere %}
    {{ rows.vorname }} {{ rows.nachname }}<br>
    {% endfor %}<br>

<b>Fluginformationen:</b><br>
Flugnummer: {{ flug.flugnummer }}<br>
Strecke: {% for e in flughafen_liste %}
    {% if e.flughafenid == flug.abflugid %}
        {{e.name + " (" + e.kennung + ")"}}
    {% endif %}
{% endfor %} -
    {% for e in flughafen_liste %}
        {% if e.flughafenid == flug.zielid %}
            {{e.name + " (" + e.kennung + ")"}}
        {% endif %}
    {% endfor %}<br>
    Datum: {{ flug.sollabflugzeit.strftime("%d.%m.%Y %H:%M") }} - {{ flug.sollankunftszeit.strftime("%d.%m.%Y %H:%M") }}<br>
Zusatzgepäck: {{ gepaeck }} x 40€<br>
Handgepäck: {{ passagier_anzahl }} x inklusive<br><br>
    <b>Gesamtpreis: {{ preis }}€<br></b>
</p>
