{% extends "base.html" %}
{% block title %}Buchung{% endblock %}
{% block content %}
    <br>
    <h3>Flug buchen</h3>

        <form method="POST">

            {% for count in range(anzahlPassagiere) %}

                <div class="card" style="width: 68rem;">
                    <div class="card-body">
                        <div class="container-fluid" style="width: 60rem; height: 10rem">

                            <p>Passagier {{ count + 1 }}</p>


                            <div class="form-row">
                                <div class="col">
                                    <label for="vorname{{ count + 1 }}">Vorname</label>
                                    <input type="text" class="form-control" id="vorname{{ count + 1 }}"
                                           name="vorname{{ count + 1 }}" placeholder=""
                                           required>
                                </div>
                                <div class="col">
                                    <label for="nachname{{ count + 1 }}">Nachname:</label>
                                    <input type="text" class="form-control" id="nachname{{ count + 1 }}"
                                           name="nachname{{ count + 1 }}"
                                           placeholder="" required>
                                </div>
                                <div class="col">
                                    <label for="geburtsdatum{{ count + 1 }}">Geburtsdatum:</label>
                                    <input type="date" class="form-control" id="geburtsdatum{{ count + 1 }}"
                                           name="geburtsdatum{{ count + 1 }}"
                                           placeholder="" required>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
                <br>

            {% endfor %}

            <!-- Anzeige für Gesamtbetrag -->

            <div class="card" style="width: 50rem;">
                <div class="card-body" style="height: 4rem">
                    <h5>Gesamtbetrag: &emsp;{{ preis }}€ </h5>

                </div>
            </div>

            <!-- Anzeige für Button -->

            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-danger" style="height: 3rem">Kostenpflichtig buchen
                </button>

            </div>
        </form>




{% endblock %}