{% extends "base.html" %}

{% block title %}Online Checkin{% endblock %}
{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<h2>Gepäckbestimmungen <p style="color: cornflowerblue;"><i>AirPassau</i></p></h2>
<b>Handgepäck AirPassau: </b>bis zu 8 kg Abmessungen sollen 55 x 35 x 25 cm nicht überschreiten.
<br>
<b>Sonstiges: </b>eine zusätzliche Tasche bzw. ein Artikel, der unter den Vordersitz passen muss: Handtasche, Laptop oder Tablet.
<br>
<b>Aufzugebendes Gepäck: </b>bis 40 kg (158 cm).

{% endblock %}