{% extends "base.html" %}

{% block title %}Online Checkin{% endblock %}
{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <form class="row gx-3 gy-2 align-items-center">
        <div class="row align-items-start"> <!-- zwei spalten ankündigen-->
            <form method="GET">
                <div class="col-auto"> <!--erste spalte-->
                    <br>
                    <h4>Personenbezogene Daten:</h4>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInput">Vorname:</label>
                        <td>
                            {{ vorname }}
                        </td>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInputGroup">Nachname:</label>
                        <td>
                            {{ nachname }}
                        </td>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInputGroup">Geburtsdatum:</label>
                        <td>
                            {{ passagier.geburtsdatum.strftime("%d.%m.%Y") }}
                        </td>
                    </div>
                </div>
            </form> <!--end of GET request-->
            <div class="col"> <!--zweite spalte-->
                <br>
                <form method="POST">
                    <h4>Ausweisdaten:</h4>

                    <label class="visually-hidden" for="ausweistyp">Art des Ausweis*:</label>
                    <select class="form-select" id="ausweistyp" name="ausweistyp">

                        <option selected value="1">Reisepass</option>
                        <option value="2">Personalausweis</option>
                    </select>
                    <br>
                    <label class="visually-hidden" for="ausweissnummer">Ausweisnummer*:</label>
                    <div class="input-group">
                        <!--type text, da Ausweissnummer A-Z und 0-9 enthalten darf-->
                        <input type="text" class="form-control" id="ausweissnummer" name="ausweissnummer"
                               placeholder="Ausweisnummer" required>
                    </div>
                    <label class="visually-hidden" for="ausweisgueltigkeit">Ablaufdatum*:</label>
                    <div class="input-group">
                        <input type="date" class="form-control" id="ausweisgueltigkeit"
                               name="ausweisgueltigkeit"
                               placeholder="22.05.2030" required>
                    </div>
                    <br>
                     <!-- Add dropdown field for nationality -->
                    <label class="visually-hidden" for="staatsangehoerigkeit">Staatsangehörigkeit*:</label>
                    <div class="input-group">
                        <select class="form-select" id="staatsangehoerigkeit" name="staatsangehoerigkeit" required>
                         <option selected value="Deutschland" >Bitte auswählen </option>
                           <!-- Include options file -->
                            {% include "bodenpersonal/options-nationalities.html"  %}
                         </select>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="gepaecksbestimmungen" required>
                        <label class="form-check-label" for="flexCheckDefault">
                            <p>Hiermit bestätige ich, dass ich <a href='/gepaecksbestimmungen'>die Vorschriften
                                zur
                                Gepäckmitnahme</a> gelesen und verstanden habe.</p>
                        </label>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-danger" style="height: auto">Jetzt einchecken
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </form>
{% endblock %}