{% extends "base.html" %}

{% block title %}Stornierungsbestätigung{% endblock %}
{% block content %}

     <meta name="viewport" content="width=device-width, initial-scale=1"/>
<h2>Stornierungsbestätigung <p style="color: cornflowerblue;"><i>AirPassau</i></p></h2>


Rechnungsnummer: {{ rechnungsnummer }} <br>
Buchungsnummer: {{ buchungsnummer }} <br>

Weiter Informationen zu Ihrer Stornierung werden Ihnen per E-mail zugesendet!
    </p>
    <p><a href = "{{url_for('nutzer_ohne_account_views.home') }}">Zurück zur Startseite</a></p>

{% endblock %}