{% extends "base.html" %}
{% block title %}registrieren{% endblock %}
{% block content %}
    <h1>Hier Registrieren:</h1>
<form action="{{ url_for('auth.registrieren') }}" method = "POST">
    <p><input type = "text" name = "vorname" placeholder="Vorname*" required/></p>
    <p><input type = "text" name = "nachname" placeholder="Nachname*" required/></p>
    <p><input type = "email" name = "emailadresse" placeholder="Email Adresse*" required/></p>
    <p><input type = "password" name = "passwort1" placeholder="Passwort*" required /></p>
    <p>  <input type = "password" name = "passwort2" placeholder="Passwort wiederholen*" required />  </p>
  <p> <input type = "submit" value = "Jetzt Registrieren" /></p>
</form>
{% endblock %}



