{% extends "base.html" %}

{% block title %}Changed{% endblock %}
{% block content %}

<p class="text-center">Dies ist ein Airline-Buchungssystem.

<div class="card" style="width: 68rem;">
    <div class="card-body">
        <div class="container" style="width: 60rem; height: 10rem">
            <form action="#" method="GET">
                <div class="form-row">
                    <div class="col">
                        <label for="Von">Von:</label>
                        <input type="text" class="form-control" id="Von" name="Von" placeholder="Flughafen">
                    </div>
                    <div class="col">
                        <label for="Nach">Nach:</label>
                        <input type="text" class="form-control" id="Nach" name="Nach" placeholder="Flughafen">
                    </div>
                    <div class="col">
                        <label for="Abflugdatum">Abflugdatum:</label>
                        <input type="date" class="form-control" id="Abflugdatum" name="Abflugdatum"
                               placeholder="24.12.2022">
                    </div>
                    <div class="col">
                        <label for="AnzahlPersonen">Passagiere:</label>
                        <input type="number" class="form-control" id="AnzahlPersonen" name="AnzahlPersonen"
                               placeholder="1" style="width: 4rem">

                    </div>
                        <button type="submit" value="submit" class="btn btn-primary" style="height: 3rem">Flüge finden</button>
                </div>

            </form>
        </div>
    </div>
</div>
    {% if fluege %}
<table border="1">
        <thread>
            <tr>
                <th>Von</th>
                <th>Nach</th>
                <th>Abflug</th>
                <th>Ankunft</th>
                <th>Preis</th>
            </tr>
            </thread>
        <tbody>
        {% for rows in fluege %}
        <tr>
            <td>
                {{ rows.abflugid }}
            </td>
             <td>
                {{ rows.zielid }}
            </td>
             <td>
                {{ rows.sollabflugzeit}}
            </td>
            <td>
                {{ rows.sollankunftszeit }}
            </td>
        <td>
                {{ rows.preis }}
            </td>
        </tr>
             {% endfor %}
            </tbody>

    </table>
{% endif %}
{% endblock %}