<div class="modal fade" id="boardingModal" tabindex="-1" role="dialog" aria-labelledby="boardingModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="boardingModalLabel">Boarding</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="{{ url_for('bodenpersonal_views.boarding') }}" method="POST">
          <div class="form-group">
            <label for="boardingPassNummer">Boardingpassnummer</label>
            <input type="text" class="form-control" id="boardingPassNummer" name="boardingPassNummer" aria-describedby="boardingPassNumberHelp" placeholder="Boardingpassnummer eingeben">
            <small id="boardingPassNumberHelp" class="form-text text-muted">Bitte geben Sie die Boardingpassnummer ein.</small>
          </div>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
        <button type="submit" class="btn btn-primary">Speichern</button>
      </div>
        </form>
      </div>

    </div>
  </div>
</div>