
{% extends "base.html" %}

{% block title %} Checkin{% endblock %}
{% block content %}
<br>
    <form class="row gx-3 gy-2 align-items-center">
        <div class="row align-items-start"> <!-- zwei spalten ankündigen-->
            <form method="GET">
                <div class="col"> <!--erste spalte-->
                    <br>
                    <h4>Personenbezogene Daten:</h4>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInput">Vorname:</label>
                        <td>
                            {{ vorname }}
                        </td>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInputGroup" >Nachname:</label>
                        <td>
                            {{ nachname }}
                        </td>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInputGroup">Geburtsdatum:</label>
                        <td>
                            {{ passagier.geburtsdatum.strftime("%d.%m.%Y") }}
                        </td>
                    </div>

                </div>
            </form> <!--end of GET request-->
            <div class="col"> <!--zweite spalte-->
                <br>
                <form  method="POST" >
                    <h4>Ausweisdaten:</h4>

                    <label class="visually-hidden" for="ausweistyp">Art des Ausweis*:</label>
                    <select class="form-select" id="ausweistyp" name="ausweistyp">

                        <option selected value="1">Reisepass</option>
                        <option value="2">Personalausweis</option>
                        <!--required fehlt evtl -->
                    </select>
                    <br>
                    <label class="visually-hidden" for="ausweissnummer">Ausweisnummer*:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="ausweissnummer" name="ausweissnummer"
                               placeholder="Ausweisnummer" pattern="[A-Z0-9]+" required>
                    </div>
                    <label class="visually-hidden" for="ausweisgueltigkeit">Ablaufdatum*:</label>
                    <div class="input-group">
                        <input type="date" class="form-control" id="ausweisgueltigkeit"
                               name="ausweisgueltigkeit"
                               placeholder="22.05.2030" required>
                    </div>
                    <br>
                     <!-- Add dropdown field for nationality -->
  <label class="visually-hidden" for="staatsangehoerigkeit">Staatsangehörigkeit*:</label>
  <div class="input-group">
    <select class="form-select" id="staatsangehoerigkeit" name="staatsangehoerigkeit">
      <option selected value="Deutschland">Bitte auswählen</option>
      <!-- Include options file -->
      {% include "bodenpersonal/options-nationalities.html" %}
    </select>
  </div>

                    <br>
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-warning btn-block" >Jetzt einchecken
                        </button>

                    </div>
                    <br>
                    <div class="col-md-12 text-right">
                    </div>
                </form>
                <br>
            </div>
        </div>
    </form>
{% endblock %}