{% extends "base.html" %}

{% block title %}Auslastung prüfen {% endblock %}
{% block content %}

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <br>
    <br>
    <div class="card" style="width: auto"><!--69-->
        <div class="card-body">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" id="check-in" aria-current="page" href="/home_bp">Check-in/Boarding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="fluege_pruefen" href="/fluege_pruefen">Auslastung prüfen</a>
                </li>
            </ul>
            <div class="card" style="width: auto">
                <div class="card-body">
                    <div class="container-fluid" style="width: auto; height: auto">
                        <br>
                        <form action="#" method="POST">
                            <div class="form-row">
                                <div class="col-auto">
                                    <label for="flugnummer">Flugnummer:*</label>
                                    <input type="text" class="form-control" id="flugnummer" name="flugnummer" placeholder="" pattern="[A-Z0-9]+" required>
                                </div>

                                <div class="col-auto">
                                    <label for="datum">Datum:*</label>
                                    <input type="datetime-local" class="form-control" id="datum" name="datum" min="2010-01-01T00:00" placeholder="" required>
                                </div>
                                <div class="col-auto my-4">
                                    <button type="submit" value="submit" class="btn btn-primary" style="height: auto">
                                        Suchen
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="table-responsive">
        <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="col-auto">Buchungsnummer</th>
            <th scope="col" class="col-auto">Vorname</th>
            <th scope="col" class="col-auto">Nachname</th>
            <th scope="col" class="col-auto">Geburtsdatum</th>
            <th scope="col" class="col-auto">Passagierstatus</th>
        </tr>
    </thead>
    <tbody>
        {% for passagier in passagiere %}
        <tr>
            <td>{{ passagier.buchungsnummer }}</td>
            <td>{{ passagier.vorname }}</td>
            <td>{{ passagier.nachname }}</td>
            <td>{{ passagier.geburtsdatum }}</td>
            <td>{{ passagier.passagierstatus }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
    </div>

{% endblock %}