{% extends "base.html" %} {% block title %}Home für Bodenpersonal {% endblock %} {% block content %} <br>
<br>
<div class="card" style="width: 69rem;">
  <div class="card-body">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Check-in/Boarding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fluege_pruefen">Auslastung prüfen</a>
      </li>
    </ul>
    <div class="card" style="width: 66rem;">
      <div class="card-body">
        <div class="container-fluid" style="width: 55rem; height: 15rem">
          <br>
          <form action="#" method="POST">
            <div class="form-row">
              <div class="col">
                <label for="buchungsnummer_1">Buchungsnummer:</label>
                <input type="text" class="form-control" id="buchungsnummer_1" name="buchungsnummer_1" placeholder="">
              </div>
              <div class="col">
                <label for="vorname">Vorname:</label>
                <input type="text" class="form-control" id="vorname" name="vorname" placeholder="">
              </div>
              <div class="col">
                <label for="nachname">Nachname:</label>
                <input type="text" class="form-control" id="nachname" name="nachname" placeholder="">
              </div>
            </div>
            <br>
            <p>oder</p>
            <div class="form-row">
              <div class="col">
                <label for="buchungsnummer_2">Buchungssnummer:</label>
                <input style="width:17rem" type="text" class="form-control" id="buchungsnummer_2" name="buchungsnummer_2" placeholder="">
              </div>
              <div class="col">
                <label for="ausweisnummer">Ausweisnummer:</label>
                <input style="width:17rem" type="text" class="form-control" id="ausweisnummer" name="ausweisnummer" placeholder="">
              </div>
              <div class="col-auto my-4">
                <button type="submit" value="submit" class="btn btn-primary" style="height: 3rem"> Buchung suchen </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Buchungsnummer</th>
        <th scope="col">Buchungsstatus</th>
        <th scope="col">Von</th>
        <th scope="col">Nach</th>
        <th scope="col">Abflugsdatum</th>
        <th scope="col">Passagiere</th>
        <th scope="col">Gepäckstatus</th>
      </tr>
    </thead>
    <tbody>
        {% if buchung_1 %}
        {% for row in buchung_1 %}
       <tr>
        <td>{{ row.buchungsnummer }}</td>
        <td>{{ row.buchungsstatus }}</td>
        {% for ankunft in ankunft_flughafen %}
        <td>{{ ankunft.kennung }}</td>
        {% endfor %}
           {% for ziel in ziel_flughafen %}
        <td>{{ ziel.kennung }}</td>
        {% endfor %}
        {% for flug_row in flug %}
        <td>{{ flug_row.sollabflugzeit.date() }}</td>
        {% endfor %}
        {% for passagier_row in passagiere %}
        <td>
          {{ passagier_row.vorname }}
          {{ passagier_row.nachname }}
          <br> Geb: {{passagier_row.geburtsdatum }}
          <br> Status: {{passagier_row.passagierstatus }}
          <br> Ausweisnum: {{passagier_row.ausweisnummer }}
            <br>
            {% if passagier_row.passagierstatus == "eingecheckt" and row.buchungsstatus=="gebucht"%}

            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#boardingModal">Start Boarding</button>
            <br>
            <button type="button" class="btn btn-warning  btn-sm" >Boarding karte ausdrucken</button>

            {% elif passagier_row.passagierstatus == "gebucht" and row.buchungsstatus=="gebucht" %}

            <a href="{{ url_for('bodenpersonal_views.einchecken',buchungsid = row.buchungsid,buchungsnummer=row.buchungsnummer, vorname=passagier_row.vorname, nachname=passagier_row.nachname) }}"
                                   class="btn btn-warning btn-sm">Check-In</a>

            {% endif %}
        </td>
        {% include 'bodenpersonal/boarding.html' %}
        <td>
            {% for gepaeck_row in gepaeck%}
            {{ gepaeck_row.status }}
            {% if gepaeck_row.status == "gebucht" and row.buchungsstatus=="gebucht"%}
            <button type="button" class="btn btn-info  btn-sm" >Check-In</button>
        <button type="button" class="btn btn-info  btn-sm" >Etikett ausdrucken</button>
            {% endif %}
            {% endfor %}
        </td>
      </tr>
    {% endfor %}
    {% endfor %}
    {% elif buchung_2 %}
    {% for row in buchung_2 %}
    <tr>
        <td>{{ row.buchungsnummer }}</td>
        <td>{{ row.buchungsstatus }}</td>
        {% for ankunft in ankunft_flughafen %}
        <td>{{ ankunft.kennung }}</td>
        {% endfor %}
        {% for ziel in ziel_flughafen %}
        <td>{{ ziel.kennung }}</td>
        {% endfor %}
        {% for flug_row in flug %}
        <td>{{ flug_row.sollabflugzeit.date() }}</td>
        {% endfor %}
        {% for passagier_row in passagiere %} <td>
          {{ passagier_row.vorname }}
          {{ passagier_row.nachname }}
          <br> Geb: {{passagier_row.geburtsdatum }}
          <br> Status: {{passagier_row.passagierstatus }}
          <br> Ausweisnum: {{passagier_row.ausweisnummer }}
        <br>
        {% if passagier_row.passagierstatus == "eingecheckt" and row.buchungsstatus=="gebucht"%}

            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#boardingModal">Start Boarding</button>
            <br>
            <button type="button" class="btn btn-warning  btn-sm" >Boarding karte ausdrucken</button>

            {% endif %}
        </td>
        {% include 'bodenpersonal/boarding.html' %}
        <td>
            {% for gepaeck_row in gepaeck%}
            {{ gepaeck_row.status }}
            {% if gepaeck_row.status == "gebucht" and row.buchungsstatus=="gebucht"%}
            <button type="button" class="btn btn-info  btn-sm" >Check-In</button>
            <button type="button" class="btn btn-info  btn-sm" >Etikett ausdrucken</button>
            {% endif %}
            {% endfor %}
        </td>
      </tr>
    {% endfor %}
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}


